



  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col offset-s4 s4 offset-m4 m4 offset-l4 l4">
              <img src="images/Sahil Ajmera.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
        </div>
      </div>
      <div class="row">
        <div class="col s12 center">
          <p class="left-align light"> Hi there! My name is Sahil Ajmera. I am working at Oracle Cloud Infrastructure (OCI) as a Senior Member of Technical Staff in the Network Automation team. I recieved my Bachelor's degree (CS) from Manipal Institute of Technology and my Master's Degree (CS) from Rochester Institute of Technology. I have interned at Lenovo as part of the Lenovo Open Cloud Team and at American Institutes for Research as part of their Assessment platform team in the past. I am always on the lookout for new challenges and collaborations so please feel free to reach out! Additionally I would love your thoughts on this small portfolio and how I could impove it even more. Thank you and have a nice day!
          </p>
        </div>
      </div>

    </div>
  </div>


  </body>
</html>
