
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style type="text/css">
      address {
        font-style:normal;
      }
    </style>
	<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
			


  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Want to reach out? Let's connect :)</h5>
        <script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
        <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="dark" data-type="VERTICAL" data-vanity="sahil-ajmera-b6144092" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://www.linkedin.com/in/sahil-ajmera-b6144092?trk=profile-badge">Sahil Ajmera</a></div>
      </div>
    </div>
  </div>
<br><br>
