
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style type="text/css">
      address {
        font-style:normal;
      }
    </style>
	<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
			


  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Want to reach out? Let's connect :)</h5>
      </div>
    </div>
  </div>
<br><br>
  <div class="container">
    <table>
      <thead>
        <tr>
          <th><h5 class="left-align light">Social Media</h5></th>
        </tr>
      </thead>
      <tbody >
        <tr>
          <td class="row center">
          	<div class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="sahil-ajmera-b6144092"><a class="LI-simple-link" href='https://www.linkedin.com/in/sahil-ajmera-b6144092?trk=profile-badge'>Sahil Ajmera</a></div>  
          </td>
        </tr>
      </tbody>
    </table>
    <br><br>
  </div>
