  <!-- Reveal.js css files -->
  <link rel="stylesheet" href="js/reveal.js_files/css/reveal.css">
  <link rel="stylesheet" href="js/reveal.js_files/css/theme/black.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet">

  <!-- Printing and PDF exports -->
  <script type="text/javascript">
    var link = document.createElement( 'link' );
    link.rel = 'stylesheet';
    link.type = 'text/css';
    link.href = window.location.search.match( /print-pdf/gi ) ? 'js/reveal.js_files/css/print/pdf.css' : 'js/reveal.js_files/css/print/paper.css';
    document.getElementsByTagName( 'head' )[0].appendChild( link );
  </script>

  <div class="reveal mycsstext">
    <div class="slides">
        <section data-background-size="contain" data-background="images/IMG_2925.JPG"></section>
        <section data-background-size="contain" data-background="images/DSC_1292.JPG" ></section>
        <section data-background-size="contain" data-background="images/picture_2.jpg"></section>
        <section data-background-size="contain" data-background="images/DSC2232.jpg"></section>
        <section data-background-size="contain" data-background="images/picture_1.jpg"></section>
        <section data-background-size="contain" data-background="images/DSC_0630.JPG"></section>
      <section>
        <div >
          <p>End</p>
        </div>
      </section>
    </div>
  </div>
  <script src="js/reveal.js_files/lib/js/head.min.js"></script>
  <script src="js/reveal.js_files/js/reveal.js"></script>
  <script type="text/javascript">
    Reveal.initialize({
      dependencies: [
        { src: 'js/reveal.js_files/plugin/markdown/marked.js' },
        { src: 'js/reveal.js_files/plugin/markdown/markdown.js' },
        { src: 'js/reveal.js_files/plugin/notes/notes.js', async: true },
        { src: 'js/reveal.js_files/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
      ]
      });
  </script>

