
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--
  <script type="text/javascript">
          document.addEventListener('DOMContentLoaded', function() {
          var elems = document.querySelectorAll('.collapsible');
          var instances = M.Collapsible.init(elems, {});
          });

  </script>-->

       
    <div class="container">
        <div class="section">
          <div class="row">
            <h5 class="left-align light">Summary</h5> 
          </div>
          <div class="row">
                  <ul>
                    <li class="light"> Computer Science Graduate student at Rochester Institute of Technology.</li>
                    <li class="light"> Internships at <b>Lenovo - Data Center Group</b> and <b>American Institutes for Research.</b></li>
                    <li class="light"> Enjoys solving challenging problems.</li>
                    <li class="light"> Learns new concepts in a fast paced manner to drive actual development.</li>
                    <li class="light"><b> Graduating December 2019.</b></li>
                    <li class="light"><b> Looking for Full-Time Opportunities starting December 2019.</b></li>
                    <li class="light"> Resume Available as: <a href="https://www.linkedin.com/in/sahil-ajmera-b6144092/">LinkedIn<i class="fa fa-linkedin-square"></i></a> <a href="documents/Sahil_Ajmera_Resume.pdf">Pdf<i class="fa fa-file-pdf-o"></i></a></li>
                    <li class="light"><a href="https://github.com/Sahil-Ajmera">Github <i class="fa fa-github" aria-hidden="true"></i></a></li>
                  </ul> 
          </div>
        </div>
        <div class="section">      
            <div class="row">
                <h5 class="left-align light">Skills</h5> 
            </div>
                <table class=" striped">

                    <tbody >
                      <tr>
                        <td class="row">
                          <div class="col s6 m4 l4 light"><b>Programming Languages</b></div>
                        </td>
                        <td class="row">
                          <div class="col s6 m4 l4 light">Python</div>
                          <div class="col s6 m4 l4 light">Java</div>
                          <div class="col s6 m4 l4 light">C#</div>
                          <div class="col s6 m4 l4 light"></div>
                          <div class="col s6 m4 l4 light"></div>
                          <div class="col s6 m4 l4 light"></div>
                          <div class="col s6 m4 l4 light"></div>
                        </td>
                      </tr>
                      <tr>
                        <td class="row">
                          <div class="col s6 m4 l4 light"><b>Web Development</b></div>
                        </td>
                        <td class="row">
                            <div class="col s6 m4 l4 light">HTML</div>
                            <div class="col s6 m4 l4 light">CSS</div>
                            <div class="col s6 m4 l4 light">JavaScript</div>
                            <div class="col s6 m4 l4 light">.NET</div>
                            <div class="col s6 m4 l4 light">Materialize</div>
                            <div class="col s6 m4 l4 light">AngularJS 1.x</div>  
                            <div class="col s6 m4 l4 light"></div>          
                        </td>
                      </tr>

                      <tr>
                        <td class="row">
                          <div class="col s6 m4 l4 light"><b>Desktop Application Development</b></div>
                        </td>
                        <td class="row">
                            <div class="col s6 m4 l4 light">Qt</div>
                            <div class="col s6 m4 l4 light"></div>
                            <div class="col s6 m4 l4 light"></div>
                            <div class="col s6 m4 l4 light"></div>
                            <div class="col s6 m4 l4 light"></div>
                            <div class="col s6 m4 l4 light"></div>
                            <div class="col s6 m4 l4 light"></div>
                        </td>
                      </tr>


                      <tr>
                        <td class="row">
                          <div class="col s6 m4 l4 light"><b>Database</b></div>
                        </td>
                        <td class="row">
                            <div class="col s6 m4 l4 light">SQL</div>
                            <div class="col s6 m4 l4 light">MySQL</div>
                            <div class="col s6 m4 l4 light">Oracle 11g</div>
                            <div class="col s6 m4 l4 light">SQL Server</div>
                            <div class="col s6 m4 l4 light">H2 Database Engine</div>
                            <div class="col s6 m4 l4 light">Cassandra</div>
                            <div class="col s6 m4 l4 light"></div>
                        </td>
                      </tr> 

                      <tr>
                        <td class="row">
                          <div class="col s6 m4 l4 light"><b>Data Analysis</b></div>
                        </td>
                        <td class="row">
                            <div class="col s6 m4 l4 light">Highcharts</div>
                            <div class="col s6 m4 l4 light">R</div>
                            <div class="col s6 m4 l4 light">Tableau</div>
                            <div class="col s6 m4 l4 light">Weka</div>
                            <div class="col s6 m4 l4 light">Minitab</div>
                            <div class="col s6 m4 l4 light"></div>
                            <div class="col s6 m4 l4 light"></div>
                        </td>
                      </tr>

                      <tr>
                        <td class="row">
                          <div class="col s6 m4 l4 light"><b>Orchaestration Tools</b></div>
                        </td>
                        <td class="row">
                            <div class="col s6 m4 l4 light">Juju Charms</div>
                            <div class="col s6 m4 l4 light">Ansible</div>
                            <div class="col s6 m4 l4 light"></div>
                            <div class="col s6 m4 l4 light"></div>
                            <div class="col s6 m4 l4 light"></div>
                            <div class="col s6 m4 l4 light"></div>
                            <div class="col s6 m4 l4 light"></div>
                        </td>
                      </tr>
                      <tr>
                        <td class="row">
                          <div class="col s6 m4 l4 light"><b>Messaging Protocols</b></div>
                        </td>
                        <td class="row">
                            <div class="col s6 m4 l4 light">MQTT</div>
                            <div class="col s6 m4 l4 light"></div>
                            <div class="col s6 m4 l4 light"></div>
                            <div class="col s6 m4 l4 light"></div>
                            <div class="col s6 m4 l4 light"></div>
                            <div class="col s6 m4 l4 light"></div>
                            <div class="col s6 m4 l4 light"></div>
                        </td>
                      </tr>
                      <tr>
                        <td class="row">
                          <div class="col s6 m4 l4 light"><b>Development Environments</b></div>
                        </td>
                        <td class="row">
                            <div class="col s6 m4 l4 light">Netbeans</div>
                            <div class="col s6 m4 l4 light">Intellij IDEA</div>
                            <div class="col s6 m4 l4 light">Pycharm</div>
                            <div class="col s6 m4 l4 light">Qt Creator</div>
                            <div class="col s6 m4 l4 light">Visual Studio</div>
                            <div class="col s6 m4 l4 light"></div>
                            <div class="col s6 m4 l4 light"></div>
                        </td>
                      </tr>
                      <tr>
                        <td class="row">
                          <div class="col s6 m4 l4 light"><b>Operating Systems</b></div>
                        </td>
                        <td class="row">
                            <div class="col s6 m4 l4 light">Windows</div>
                            <div class="col s6 m4 l4 light">Linux</div>
                            <div class="col s6 m4 l4 light"></div>
                            <div class="col s6 m4 l4 light"></div>
                            <div class="col s6 m4 l4 light"></div>
                            <div class="col s6 m4 l4 light"></div>
                            <div class="col s6 m4 l4 light"></div>
                        </td>
                      </tr>
                      <tr>
                        <td class="row">
                          <div class="col s6 m4 l4 light"><b>Source Control</b></div>
                        </td>
                        <td class="row">
                            <div class="col s6 m4 l4 light">Git</div>
                            <div class="col s6 m4 l4 light"></div>
                            <div class="col s6 m4 l4 light"></div>
                            <div class="col s6 m4 l4 light"></div>
                            <div class="col s6 m4 l4 light"></div>
                            <div class="col s6 m4 l4 light"></div>
                            <div class="col s6 m4 l4 light"></div>
                        </td>
                      </tr>
                      <tr>
                        <td class="row">
                          <div class="col s6 m4 l4 light"><b>Documentation</b></div>
                        </td>
                        <td class="row">
                            <div class="col s6 m4 l4 light">Confluence</div>
                            <div class="col s6 m4 l4 light">Word</div>
                            <div class="col s6 m4 l4 light">Powerpoint</div>
                            <div class="col s6 m4 l4 light">Excel</div>
                            <div class="col s6 m4 l4 light">Markdown</div>
                            <div class="col s6 m4 l4 light">reveal.js</div>
                            <div class="col s6 m4 l4 light">Sublime Text</div>
                        </td>
                      </tr>
                    </tbody>
                  <!--</div>-->
                </table>
              </div>
            <!--</div>
        </div>-->
        <div class="section">
          <div class="row">
          <h5 class="left-align light">Certifications</h5> 
          </div>
          <div class="row">
                  <ul>
                    <li class="light"> <b>Oracle Java SE6 Certified Programmer</b> <a href="documents/eCertificate.pdf"><i class="fa fa-file-pdf-o"></i></a></li>
                    <li class="light"> <b>Microsoft Technical Associate - Cloud Fundamentals </b><a href="documents/Cert813113936605.pdf"><i class="fa fa-file-pdf-o"></i></a></li>
                  </ul> 
          </div>
        </div>
        <div class="section">      
          <div class="row">
              <h5 class="left-align light">Experience</h5>
          </div>
          <div class="row">
              <ul style="list-style-type: none;" class="collapsible">
                <li>
                  <div class="collapsible-header">
                    <div class="col s6 m6 l6 light"><b>Lenovo Data Center Group<br>Software Development Co-op</b></div><div class="col s6 m6 l6 light right-align"><b>August 2018 - May 2019<br>
                    Morrisville, North Carolina</b></div>
                  </div>
                  <div class="collapsible-body">
                    <span>
                      <ul>
                        <li class="light">Solely led the development work on <b>Gitlab</b> , <b>ManageIQ</b> and <b>CloudForms</b> by working on instantiation, various configurations(as required) and validation of these platorms. Added to services that are on offer by Lenovo's RHHI offering by use of Ansible technologies.<b>Presented at Mobile World Congress - 2019 and Red Hat Summit 2019.</b></li>
                        <li class="light">Quickly executed a general idea of redesigning the team's project structure on <b>Git</b> into an actual prototype for display.This was intended to improve readability of the repo, introduce necessary distinctions between VM Creation and actual appliance installation, configuration and validation.</li>
                        <li class="light">Created an actual Desktop Application which connects to the backend using Qt framework and MQTT messaging protocols. This application displays the Load carried by a ForkLift and the lane that the load needs to be carried to.<b>Presented at Mobile World Congress - 2019 and Lenovo Accelerate 2019.</b>
                          <div class="video-container">
                                      <iframe width="560" height="315" src="https://www.youtube.com/embed/C2sIfxx0PfI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                          </div></li>
                        <li class="light">Created 3 Rapid Access Demos as a means of proof of technology - allowing customers and partners to remotely test the Lenovo Data Center solutions. This saves a lot of time both on part of Lenovo and the customers who wish to see the performance of the solutions against their existing infrastructure.</li>
                        <li class="light">Contributed to task of creating and executing a DevOps workflow for <b>Server Provisioning</b> which included - applying firmware updates, applying config patterns, OS deployment and validation.</li>
                        <li class="light">Contributed to the open source ManageIQ projects during work.</li>
                        <li class="light"><b>Technologies Used:</b><p class="chip">Python</p><p class="chip">C#</p><p class="chip">.NET</p><p class="chip">HTML</p><p class="chip">CSS</p><p class="chip">JavaScript</p><p class="chip">Materialize</p><p class="chip">Juju Charms</p><p class="chip">MQTT</p><p class="chip">Qt</p><p class="chip">RHVM</p><p class="chip">RHEL</p><p class="chip">CloudForms</p><p class="chip">ManageIQ</p><p class="chip">Ansible</p></li>
                      <ul>   
                    </span>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header">
                    <div class="col s6 m6 l6 light"><b>American Institutes For Research<br>Software Engineer Intern</b></div><div class="col s6 m6 l6 light right-align"><b>May 2018 - August 2018<br>Washington , District of Columbia</b></div>
                  </div>
                  <div class="collapsible-body">
                    <span>
                      <ul>
                        <li class="light">Worked in the <b>'Assessment Division'</b> at American Institutes of Research. This division creates and maintains robust and unique tools to plan, test, score, evaluate, and report on student learning.Assessments that inform instruction. Pinpoint student understanding in meaningful ways. Inspire teaching and learning. Identify potential.</li>
                        <li class="light">Implemented a new functionality in the Custom Pdf generation workflow . This involved adding information about statistics of questions (created for tests) to the Custon Pdf without breaking the existing workflow. This Custom Pdf is used by other teams to actually implement the creation of tests and questions.</li>
                        <li class="light">Diagnosed bugs in the code and implement small use cases as per client requirements</li>
                        <li class="light">Documented legacy code to ensure the capability to work on new functionality without worrying too much about code.</li>
                        <li class="light">Volunteered to assist QA team to test the actual platform for issues that might be faced by an actual user.</li>
                        <li class="light"><b>Technologies Used:</b><p class="chip">C#</p><p class="chip">.NET</p><p class="chip">HTML</p><p class="chip">CSS</p><p class="chip">JavaScript</p><p class="chip">Ajax</p><p class="chip">SQL</p><p class="chip">SQL Server</p></li>
                      </ul>   
                    </span>
                  </div>
                </li>
              </ul>
            </div>
        
        <div class="section">      
            <div class="row">
              <h5 class="left-align light">Education</h5> 
            </div>
            <div class="row">
              <ul style="list-style-type: none;" class= "collapsible">
                <li>
                  <div class="collapsible-header"><div class="col s6 m6 l6 light"><b>Rochester Institute of Technology</b></div><div class="col s6 m6 l6 light right-align"><b>August 2017 - Present<br>Rochester, New York</b></div></div>
                  <div class="collapsible-body">
                    <span>
                      <ul>
                        <li class="light"><b>Cumulative GPA : 3.96 / 4.0</b></li>
                        <li class="light"><b>Technologies Used:</b><p class="chip">Java</p><p class="chip">Python</p><p class="chip">R</p><p class="chip">Flask</p><p class="chip">HTML</p><p class="chip">CSS</p><p class="chip">JavaScript</p><p class="chip">SQL</p><p class="chip">SQL Server</p><p class="chip">Cassandra</p><p class="chip">H2 Database Engine</p><p class="chip">Weka</p><p class="chip">Minitab</p><p class="chip">Tableau</p></li>
                      </ul>   
                      <ul style="list-style-type: none;" class= "collapsible">
                        <li>
                          <div class="collapsible-header light"><b>Mobile App Review Classifier</b></div>
                            <div class="collapsible-body">
                              <span>
                                <ul>
                                  <li class="light">Created Naive Bayes Classifiers to classify mobile app reviews taken from Google Play Store into one or more categories. Categories inclued - information giving , information seeking , bug report , feature request , postive negative or neutral sentiment.  </li>
                                  <li class="light">Successfully achieved F-measure values of 30%, 37%, 62.5%, 48.76%, 81.58% for the 5 classifiers formed.The classifiers were formed with use of Python libraries which conneted with a GUI built using HTML , CSS and Flask.</li>     
                                    <div class="video-container">
                                      <iframe width="560" height="315" src="https://www.youtube.com/embed/vdBzkpqY9nY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                                  </li>
                                </ul>   
                              </span>
                            </div>
                        </li>
                        <li>
                          <div class="collapsible-header light"><b>Airline On Time Performance Data Visualization and Analysis</b></div>
                          <div class="collapsible-body">
                            <span>
                              <ul>
                                  <li class="light">Understanding the Airline system in the United States based on Airline Statistics dataset obtained from the Bureau of Transportation (United States) .</li>
                                  <li class="light">After initial data normalization and cleaning tasks, analyzed the dataset to discover important facts like best airlines to travel with, accuracy of airlines, busiest airports, etc through data exploration.</li>
                                  <li class="light">Cleaning and normalization required SQL and R while the database was managed by SQL Server.</li>
                                    
                              </ul>   
                            </span>
                          </div>
                        </li>
                        <li>
                          <div class="collapsible-header light"><b>Wikipedia Language Classifier</b></div>
                          <div class="collapsible-body">
                            <span>
                              <ul>
                                  <li class="light">Implemented a decision tree classifier to classify a 15-word segment taken from any Wikipedia page as written in English or Dutch.</li>
                                  <li class="light">Implemented 12 differentiating features by doing research and by visual inspection.</li>
                              </ul>   
                            </span>
                          </div>
                        </li>
                        <li>
                        <li>
                          <div class="collapsible-header light"><b>Courses</b></div>
                          <div class="collapsible-body">
                            <span>
                              <ul>
                                  <li class="light">Algorithms</li>
                                  <li class="light">Introduction to Intelligent Systems</li>
                                  <li class="light">Introduction to Big Data</li>
                                  <li class="light">Knowledge Processing Technologies</li>
                                  <li class="light">Introduction to Computing Security</li> 
                                  <li class="light">Big Data Analytics</li>  
                                  <li class="light">Database System Implementation</li>  
                              </ul>   
                            </span>
                          </div>
                        </li>
                      </ul>
                    </span>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header"><div class="col s6 m6 l6 light"><b>Manipal Institute of Technology</b></div><div class="col s6 m6 l6 light right-align"><b>August 2013 - May 2017<br>Manipal, Karnataka</b></div></div>
                  <div class="collapsible-body">
                    <span>
                      <ul>
                        <li class="light"><b>Technologies Used:</b><p class="chip">Java</p><p class="chip">Python</p><p class="chip">C++</p><p class="chip">HTML</p><p class="chip">CSS</p><p class="chip">JavaScript</p><p class="chip">.NET</p><p class="chip">J2EE</p><p class="chip">SQL</p><p class="chip">Oracle 11g</p><p class="chip">MySQL</p><p class="chip">Weka</p><p class="chip">MATLAB</p></li>
                      </ul>   
                      <ul style="list-style-type: none;" class= "collapsible">
                        <li>
                          <div class="collapsible-header light"><b>Real-time Gender recognition based on selection of Eigen-features from Facial-Images</b></div>
                            <div class="collapsible-body">
                              <span>
                                <ul>
                                  <li class="light">Prediction of Gender based on images contained in the Face Recognition Technology(FERET) dataset.</li>
                                  <li class="light">Research shows that a mix of Principal Component Analysis and Genetic Algorithsm can lead to faster and efficient results.</li>
                                  <li class="light">Preprocesssing of images was done by MATLAB followed by actual implementation of PCA and GA using Python.</li>
                                  <li class="light">Increasing the size of the dataset to include web images can lead to significant improvement over traditional Gender Recognition techniques.</li>  
                              </ul> 
                              </span>
                            </div>
                        </li>
                        <li>
                          <div class="collapsible-header light"><b>SAR</b></div>
                          <div class="collapsible-body">
                            <span>
                              <ul>
                                  <li class="light">Created a student information system for ease of storage of student information. This system can also be queried to create specific student reports that are required for submission to the National Board of Accreditation.</li>
                                  <li class="light">The SIS captures all aspects of the student as outlined by the university excluding their financial details.</li>
                                  <div class="video-container">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/ulc4ffR1aI4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                  </div>
                              </ul> 
                            </span>
                          </div>
                        </li>
                         <li>
                          <div class="collapsible-header light"><b>Variations of K-Means: Removing Randomness of Initial Centroids</b></div>
                            <div class="collapsible-body">
                              <span>
                                <ul>
                                  <li class="light">Improved efficiency of K-Means by providing a resolution to the issue of random initial centroids using UCI Bank Marketing dataset.</li>
                                  <li class="light">K-Means algorithm and the improvements in the algorithm were implemented by using Java.</li>
                                </ul>
                              </span>
                            </div>
                        </li>
                         <li>
                          <div class="collapsible-header light"><b>Restaurant Automation System</b></div>
                            <div class="collapsible-body">
                              <span>
                                <ul>
                                  <li class="light">Created a simple Restaurant Automation System using .NET framework.</li>
                                  <li class="light">This system automates placing orders , managing inventories and managing costs for the restaurant. </li>
                                </ul>
                              </span>
                            </div>
                        </li>
                         <li>
                          <div class="collapsible-header light"><b>Image Bazaar</b></div>
                            <div class="collapsible-body">
                              <span>
                              <ul>
                                  <li class="light">Created a simple image search engine using .NET framework.</li>
                                  <li class="light">This engine stores images in database to be retrieved later based on image captions.</li>
                                  <li class="light">Can be an excellent product for photographers who wish to store images online and get paid for them.</li>
                              </ul>
                              </span>
                            </div>
                        </li>
                         <li>
                          <div class="collapsible-header light"><b>Taxi Tracker</b></div>
                            <div class="collapsible-body">
                              <span>
                                <ul>
                                  <li class="light">Designed and created a Cab Management system that can be used by Cab owners.</li>
                                  <li class="light">Owners can use this application to manage bookings and inventory.</li>
                                </ul>
                              </span>
                            </div>
                        </li>
                        <li>
                          <div class="collapsible-header light"><b>Courses</b></div>
                            <div class="collapsible-body">
                              <span>
                                 <ul>
                                  <li class="light">Engineering Mathematics</li>
                                  <li class="light">Formal Languages & Automata Theory</li>
                                  <li class="light">Language Processors</li>
                                  <li class="light">Implementation of Programming Languages</li>
                                  <li class="light">Data Structures</li>
                                  <li class="light">Object Oriented Programming</li>
                                  <li class="light">Event Driven Programming</li>
                                  <li class="light">Software Engineering</li>
                                  <li class="light">Design and Analysis of Algorithms</li>
                                  <li class="light">Computer Communication and Networks</li>
                                  <li class="light">Network Protocols</li>
                                  <li class="light">Microprocessors</li>
                                  <li class="light">Machine Learning</li>
                                </ul>
                              </span>
                            </div>
                        </li>
                      </ul>
                    </span>
                </li>

              </ul>
            </div>
        <div class="section">
            <div class="row">
              <h5 class="left-align light">Co-curricular Activities</h5> 
            </div>
            <div class="row">
                  <ul>
                    <li class="light"> Organized various technical workshops on <b>Web Development , App Development , Augmented Reality</b> etc. during the Technical Fest in 2014.</li>
                    <li class="light"> Hosted 3 social events as part of the National Cadet Corps(NCC)(2014).</li>
                    <li class="light"> Organized Blood Donation campus across Manipal university once a year from 2013-2015.</li>
                    <li class="light">Quiz Team (2013).</li>
                    <li class="light">Cricket Team (2009-2013).</li>
                    <li class="light">Won gold , silver and bronze medals in events like basketball , 100-metre and relay races during the sports week at High School.</li>
                    <li class="light">Vice House Captain while at High School</li>
                    <li class="light">Interested in Photography and Videography during leisure time.</li>
                  </ul> 
                  <div class="col s12">      
                    <div class="video-container">
                      <iframe width="853" height="480" src="https://www.youtube.com/embed/Bp6F-hK0NjA" frameborder="0" allowfullscreen>
                        
                      </iframe>
                    </div>
                  </div>
            </div>
        </div>
      </div>
